<div class="container body-content span=8 offset=2">
    <div class="well">
        {{ form_start(form, {'action' : path('review_add_process', {'id': product.id})}) }}
        <fieldset>
            <legend>Add Review</legend>
            {{ form_widget(form)  }}
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default" href="{{ path('webstore_index') }}">Cancel</a>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </fieldset>
        {{ form_end(form) }}
    </div>
</div>